body {
    background-image: url("./images/116398-abstract-dark-blue-blurred-bokeh-background-design.jpg");
}

.habit-box {
  width: 80%;
  background-color: rgba(191, 144, 83, 0.514);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.habit {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.habit input {
  text-align: left;
  width: 10%;
}

.habit label {
  width: 90%;
  font-size: large;
}

h1, h3 {
    text-align: center;
}
