body {
    background-image: url("./images/116398-abstract-dark-blue-blurred-bokeh-background-design.jpg");
    padding-top: 20px;
}

.habit-box {
  width: 70%;
  background-color: rgba(19, 85, 226, 0.322);
  margin: auto;
  padding: 15px;
  border-radius: 15%;
}

.habit {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.habit input, .habit label {
  margin-top: 15px;
}
.habit input {
  text-align: left;
  width: 10%;
}

.habit label {
  width: 90%;
  font-size: large;
}

h1, h3 {
    text-align: center;
    color: white;
}

footer {
  color: white;
}